    /* Swiper */
    
    .swiper {
        display: none;
        width: 90%;
        height: 430px;
    }
    
    .swiper-slide {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 200px;
        position: relative;
    }
    
    .swiper-pagination-bullet {
        background: white !important;
        height: 20px !important;
        width: 20px !important;
        border: 1px solid #cfcac4 !important;
    }
    
    .swiper-pagination-bullet-active {
        background: #f86600 !important;
        border: 1px solid #f86600 !important;
    }
    
    .benefits-card-swiper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        min-height: 250px;
        border: 1px solid #f8f5f2;
        background: #fff;
        margin: 0 1%;
        position: relative;
        box-shadow: 2px 2px 10px 0 hsl(0deg 0% 50% / 40%);
    }
    
    @media only screen and (max-width:1600px) {
        .benefits-cards {
            width: 100%;
            ;
        }
    }
    
    @media only screen and (max-width:1170px) {
        .first,
        .third {
            display: none;
        }
        .benefits-card {
            width: 70%;
            min-height: 200px;
        }
        .swiper {
            display: flex;
        }
        .services-cards {
            display: none;
        }
        .benefits-card {
            display: none;
        }
        .tick-text {
            align-self: flex-start;
            margin-left: 50px;
        }
        .services-section h2 {
            margin-bottom: -110px;
        }
        .benefits-section h3 {
            margin: 0px 0 16px;
        }
    }
    
    @media only screen and (max-width:600px) {
        .swiper {
            min-height: 430px;
        }
        .tick-text {
            margin-left: 25px;
        }
        .benefits-card-swiper h5 {
            margin-bottom: 30px;
        }
        .benefits-card-swiper p {
            line-height: 1.2;
            font-size: 14px;
        }
    }